*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
main{
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    background: linear-gradient(to right,#9c27b0,#8ecdff);
}

/* navbar */
nav{
    position: sticky;
    width: 80%;
    margin: 20px auto;
    z-index: 1;
    display: flex;
    align-items: center;
}
.logo{
    flex-basis: 20%;
}
.logo img{
    width: 120px;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style-type: none;
    display: inline-block;
    margin: 0 20px;
    font-weight: 500;
}
.nav-links ul li a{
    text-decoration: none;
    color: #fff;
}
/* information section  */
.info{
    height: 1000px;
    width: 1000px;
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translateY(-50%);
}
#circle{
    height: 760px;
    width: 760px;
    position: absolute;
    top: 12%;
    left: 0;
    border-radius: 50%;
}
.feature{
    position: absolute;
    display: flex;
    color: #fff;
}
.feature div{
    margin-left: 20px;
}
.feature div p{
    margin-top: 8px;
    font-size: 12px;
}
.feature img{
    width: 48px;
}
.one{
    top: 320px;
    right: 35px;
}
.two{
    top: 120px;
    left: 280px;
}
.three{
    bottom: 365px;
    left: 25px;
}
.four{
    bottom: 110px;
    right: 260px;
}
.mobile{
    position: absolute;
    width: 150px;
    top: 50%;
    left: 28%;
    transform: translateY(-50%);
    z-index: 1;
}

/* control section */
.controls{
    position: absolute;
    top: 50%;
    right: 10%;
    transform: translateY(-50%);
    text-align: center;
}
.controls h3{
    margin: 15px 0;
    color: #fff;
}
#upBtn{
    width: 15px;
    cursor: pointer;
}
#downBtn{
    width: 15px;
    cursor: pointer;
    transform: rotate(180deg);
}